extends layout


block content
  h1 ip3.li
  p Most of the existing public ip lookup services are ugly, full of ads, and not developer friendly.  None of that here!
  p ip3.li is the free, highly simple external IP address echo service.

  h2 getting started
  p You can get started right now on the command line.  Try this:
  pre
   code $ curl ip3.li
  p In return you'll receive this:
  pre
    code=ip
  p Did it ever really need to be any more complicated than that?

  h2 a little more
  p Try these variations for more options:
  pre
    code
      span(class='cmd request') $ curl ip3.li/json
      span(class='cmd response') {"ip" : "#{ip}"}
      span(class='cmd request') $ curl ip3.li/xml
      span(class='cmd response') &lt;ip>#{ip}&lt;/ip>