doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/ip3.li.css')
  body
    div(class='container')
      block content
    script(src='/js/bootstrap.min.js' type='text/javascript')