doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/ip3.li.css')
  body
    div(class='container')
      hr
      h1(style='text-align:center;')
        span(class='ipfield')=ip
      hr
      p(class='navpara')
        a(href='/') ip3.li
        a(href='/api') api
        a(href='http://jackhicks.uk/?ref=ip3li') author
        a(href='http://soshinysoftware.uk/?ref=ip3li') soshinysoftware.uk
      block content
    script(src='/js/bootstrap.min.js' type='text/javascript')